@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");
/*login*/
.login-section{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  margin-top: 20px;
  left: 50%;  
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
/*end login*/
/*Shop*/
.pricing-section {
  margin-top: 200px;
}
.options {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:0px;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.product-item .main-content {
  padding: 0px 46px 25px 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #222;
  width: 100%;
  height: 100%;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

h1 {
  letter-spacing: 0px;
  letter-spacing: .02rem;
  font-size: 48px;
  font-size: 3rem;
}

h3 {
  color: #666;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: inherit;

}

.description {
  margin-top: 15px;
  width: 100%;
}

.highlight-window {
	/*margin-top: 25px;*/
  height: 550px;
  width: 400px;
  
  transition: all .5s ease;
  background-size: cover;
  /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);*/
  z-index: 10;
  position:relative;
  background-position:center top;
}


.color {
  height: 30px;
  cursor:pointer;
  width: 30px;
  background: #eee;
  /*border: 1px solid #D0D0D0;*/
  position:relative;
}

.color.overlay {
  position:absolute;
  z-index:10;
  background:transparent;
  top:-1px;
  left:-1px;
  -webkit-transform:translateX(45px);
      -ms-transform:translateX(45px);
          transform:translateX(45px);
  border:2px solid #fff;
  outline:2px solid #333333;
  -webkit-transition:-webkit-transform .3s ease;
          transition:transform .3s ease;
}
.color-a {
  background: #DEDFE1;
  margin-right:14px;
}

.color-b {
  background: #DDA4AD;
	margin-right:14px;
}

.color-c {
  background: #FFE599;
	margin-right:14px;
}
.color-d {
  background: #929191;
	margin-right:14px;
}

.color-picker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  margin-top:5px;
  position:relative;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
  color:#666;
}
.product-item .button {
  background:#333;
  border:none;
  font-weight:400;
  height:40px;
  margin-top:auto;
  margin-bottom:auto;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}
.product-item .button:hover {
  background:#555;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}
.divider {
  width:80%;
  height:1px;
  background:#ddd;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}
.color-options {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:50%;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.size-picker {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.small {
  font-size: 11px;
  font-size: 1.2rem;
  color:#999;
  margin-top:10px;
}
.align-right {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}
.size-desc {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}

.purchase-info {
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.price {
  font-size: 40px;
  font-size:2.5rem;
  white-space: nowrap;
}

.product-item .price span {
	text-decoration: line-through;
	margin-right: 20px;
}

.range-picker {
  font-size: 16px;
  font-size:1rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:5px;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  line-height:.9em;
}
.range-picker div {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  border-right:1px solid #bbb;
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  color:#bbb;
  width:30px;
  box-sizing:border-box;
  cursor:pointer;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  height:30px;
  -webkit-transition:background .5s ease;
          transition:background .5s ease;
}
.highlight-window.mobile {
  display:none;
}
.range-picker .active:hover {
  background:#fff;
}
.range-picker .active {
  -webkit-transform:scale(1.2);
      -ms-transform:scale(1.2);
          transform:scale(1.2);
  background:#fff;
  margin-right:3px;
  margin-left:2px;
  color:#333;
  border:1px solid #666;
  z-index:1;
}
.check {
  position:absolute;
  right:0px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  background:transparent;
  width:0px;
  bottom:-3px;
  border-left:10px solid transparent;
  border-bottom:10px solid #333333;
  border-right:10px solid transparent;
  height:0px;
}
.range-picker div:hover {
  background:#eee;
  -webkit-transition:background .2s;
          transition:background .2s;
}
.range-picker div:first-child {
  border-left:1px solid #bbb;
}
.range-picker div.active:first-child {
  border-left:1px solid #333;
}

.product-item .h3 {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	color: #808080;
	font-family: inherit;
	/*font-style: italic;*/
	/*font-family: 'Playfair Display', serif*/
}

.product-item p {
	letter-spacing: 1px;
	font-size: 14px;
	color: #808080;
	line-height: 25px;
}

.product-item .description ul{
	margin: 0;
	padding: 0;
	margin-left: 15px;
}

.product-item .description ul li {
	font-size: 1.3rem;
	letter-spacing: 0.5px;
	/*color: #666;*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 2.5rem;
}

.product-item  ul > li:before {
		content: '- ';
}

.product-item form {
	margin-top: 20px;
}

.product-block {
	margin-top: 10px;
}




.product-item input::-webkit-input-placeholder, 
.product-item textarea::-webkit-input-placeholder, 
.product-item select::-webkit-input-placeholder{
	color: #ccc;
	opacity: 1;
}

.product-item input::-moz-input-placeholder, 
.product-item textarea::-moz-input-placeholder, 
.product-item select::-moz-input-placeholder{
	color: #ccc;
	opacity: 1;
}
.product-item input::-ms-input-placeholder, 
.product-item textarea::-ms-input-placeholder, 
.product-item select::-ms-input-placeholder{
	color: #ccc;
	opacity: 1;
} 


@media (max-width: 600px) {
	.product-item .purchase-info{
		display: block;
		text-align: center;
	}
	.product-item .button{
		margin-top: 30px;
	}

	.highlight-window {
		height: 400px;
		width: auto;
	}

	.product-block {
	margin-top: 0px;
}

}

/*End Shop*/
body {
  font-family: 'Lato', sans-serif;
  color: #040000;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
}

.heading_container p {
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

h1,
h2 {
  font-family: 'Merriweather Sans', sans-serif;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
/*Shop*/
/*Produit*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	scroll-behavior: smooth;
	line-height: 1.5;
	background-color: #FFF;
}

img {
	max-width: 100%;
	display: block;
}

a {
	color: inherit;
	font-weight: bold;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	border: 1px solid;
	background-color: transparent;
}


body {
	font-family: "DM Sans", sans-serif;
}

.responsive-container {
	max-width: 1080px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	border-bottom: 1px solid #d0d0d0;
	min-height: 60px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	justify-content: center;
}

.header-content {
	display: flex;
	width: 100%;
	max-width: 2000px;
	padding-left: 1.25rem; 
	padding-right: 1.25rem;
	align-items: center;
	justify-content: space-between;
}

.header-navigation {
	display: flex;
	align-items: center;
	a {
		margin-left: 1.5rem;
		text-decoration: none;
		font-size: 1rem;
	}
}

.link-button {
	display: flex;
	align-items: center;
	background-color: #000;
	border-radius: 0.375rem;
	padding: 0.5em 1.25em;
	color: #fff;
	i {
		font-size: 1.25rem;
		margin-left: 0.5rem;
	}
}

.logo {
	font-size: 1.25rem;
	font-weight: 700;
}

main {
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.grid-column {
	display: flex;
	flex-direction: column;
	& > * + * {
		margin-top: 2rem;
	}
}

.product {
	border-radius: 0.25rem;
	text-decoration: none;
	font-weight: 400;	
	transition: .15s ease;
	overflow: hidden;
	&:hover, &:focus {
		outline: none;
		box-shadow: 0 0 0 0.25rem rgb(16, 73, 230);
		.product-content {
			border-color: transparent;
		}
	}
}

.product-image {
	border-radius: 0.25rem 0.25rem 0 0;
	overflow: hidden;
}

.product-content {
	padding: 1rem;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-radius: 0 0 0.25rem 0.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .15s ease;
	background-color: #53c8ff;
}

.product-action {
	color: #000;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .25rem;
	font-size: 1.25rem;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .15s ease;
	&:hover {
		background-color: #ebebeb;
	}
}

.product-info {
	display: flex;
	flex-direction: column;
}

.product-title {
	font-size: 1.125rem;
	line-height: 1.25;
}

.product-price {
	margin-top: .25rem;
}

.credits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 10rem;
	color: #777;
	font-size: .875rem;
	a {
		display: block;
	}
}

@media all and (max-width: 600px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
	}

	.grid-column {
		& > * + * {
			margin-top: 1.5rem;
		}
	}
}
/*End Produit*/
/*end Shop*/
/*header section*/
.hero_area {
  position: relative;
  background-color: #d1e3ff;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .header_bottom {
  padding: 10px 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand span {
  color: #0355cc;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #000000;
  text-align: center;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #0355cc;
}

.custom_nav-container .form-inline .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .form-inline .nav_search-btn:hover {
  color: #0355cc;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #ffffff;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

.quote_btn-container a:hover {
  color: #ff8a1d;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: bottom;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  padding-bottom: 90px;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  color: #0355cc;
}

.slider_section .detail-box p {
  color: #444;
  font-size: 15px;
}

.slider_section .detail-box a {
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #ff8a1d;
  border: 1px solid #ff8a1d;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #ff8a1d;
}

.slider_section .img-box img {
  width: 100%;
}

.feature_section {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feature_section .feature_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_section .feature_container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 45px 15px;
  background-image: url("present1.png");
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.feature_section .feature_container .box .img-box {
  width: 90px;
  height: 90px;
}

.feature_section .feature_container .box .img-box svg {
  width: 100%;
  height: auto;
  max-height: 100%;
  fill: #726dae;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feature_section .feature_container .box .img-box svg path {
  fill: #726dae;
}

.feature_section .feature_container .box .name {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 0;
}

.feature_section .feature_container .box:hover, .feature_section .feature_container .box.active {
  background-color: #ff8a1d;
  color: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg, .feature_section .feature_container .box.active .img-box svg {
  fill: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg path, .feature_section .feature_container .box.active .img-box svg path {
  fill: #ffffff;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 10px;
}

.about_section .detail-box a {
  margin-top: 15px;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #0355cc;
  border: 1px solid #0355cc;
  border-radius: 2px;
  color: #ffffff;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0355cc;
}

.about_section .img-box img {
  width: 100%;
}

.professional_section {
  background-color: #a3dafa; /* For professional_section */
  padding: 20px; /* Add padding around the slider */
}

.professional_section .row, .professional2_section .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* Increase spacing between images */
}

.professional_section .slider img, .professional2_section .slider img {
  width: 150px; /* Decrease width for smaller images */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

.professional_section .slider img:hover, .professional2_section .slider img:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}

.professional_section .detail-box h2 {
  text-transform: lowercase;
  font-weight: bold;
  color: #0355cc;
}

.professional_section .detail-box p {
  margin-top: 20px;
}

.professional_section .detail-box a {
  margin-top: 25px;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #ff8a1d;
  border: 1px solid #ff8a1d;
  border-radius: 2px;
  color: #ffffff;
}

.professional_section .detail-box a:hover {
  background-color: transparent;
  color: #ff8a1d;
}
.professional2_section {
  background-color: #51bfff; /* For professional_section */
  padding: 20px; /* Add padding around the slider */
}

.service_section {
  position: relative;
}

.service_section .box {
  margin-top: 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  padding: 25px 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .box .img-box {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .box .img-box img {
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
}

.service_section .box .detail-box p {
  margin: 0;
}

.service_section .box:hover {
  background-color: #ff8a1d;
  color: #ffffff;
}

.service_section .box:hover .img-box img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #0355cc;
  border: 1px solid #0355cc;
  border-radius: 0;
  color: #ffffff;
}

.service_section .btn-box a:hover {
  background-color: transparent;
  color: #0355cc;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.client_section .box {
  margin: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client_section .box .client_id .img-box {
  width: 125px;
  min-width: 125px;
  margin-right: 15px;
}

.client_section .box .client_id .img-box img {
  width: 100%;
  border-radius: 100%;
}

.client_section .box .client_id .client_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 25px;
}

.client_section .box .client_id .client_detail .client_info h6 {
  margin-bottom: 0;
}

.client_section .box .client_id .client_detail .client_info i {
  color: #fbaf5d;
}

.client_section .box .client_text {
  margin-top: 20px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.client_section .owl-carousel .owl-nav button {
  width: 50px;
  height: 50px;
  background-color: #0355cc;
  outline: none;
  margin: 0 20px;
  color: #ffffff;
}

.heading_container {
  margin-bottom: 30px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: #ffffff;
  outline: none;
  color: #000000;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.contact_section input::-webkit-input-placeholder {
  color: #737272;
}

.contact_section input:-ms-input-placeholder {
  color: #737272;
}

.contact_section input::-ms-input-placeholder {
  color: #737272;
}

.contact_section input::placeholder {
  color: #737272;
}

.contact_section input.message-box {
  height: 135px;
}

.contact_section button {
  border: none;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 5px 30px;
  background-color: #0355cc;
  border: 1px solid #0355cc;
  border-radius: 0;
  color: #ffffff;
  margin-top: 0px;
}

.contact_section button:hover {
  background-color: transparent;
  color: #4625fd;
}


.info_section {
  padding: 75px 0;
  background-color: #0a0f43;
  text-align: center;
  color: #fff;
}

.info_section h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.info_section .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.info_section .social-box .box {
  background-color: #ffffff;
  padding: 5px 15px;
}

.info_section a {
  margin: 0 5px;
  color: #0355cc;
}

.info_section a i {
  font-size: 18px;
}

.info_section a:hover {
  color: #ff8a1d;
}

.info_items a {
  position: relative;
}

.info_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 80px;
  background-color: #0355cc;
  color: #ffffff;
}

.info_items .item .img-box i {
  font-size: 24px;
}

.info_items .item p {
  margin-top: 25px;
  color: #fff;
  margin-bottom: 0;
  background-color: #0a0f43;
}

.info_items .item:hover .img-box {
  background-color: #ff8a1d;
}

.info_items {
  position: relative;
}

.info_items::before {
  content: "";
  position: absolute;
  top: 65px;
  width: 75%;
  height: 1px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* footer section*/
.footer_section {
  background-color: #0a0f43;
}

.footer_section p {
  margin: 0;
  padding: 25px 0;
  color: #ffffff;
  text-align: center;
  border-top: 0.8px solid #ffffff;
}

.footer_section a {
  color: inherit;
}
.slider {
  
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
}
.slider img {
  margin: 10px;
  width: 60px;
  height: 60px;  
  float:left;
}


/* end footer section*/
/* about us*/
.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.responsive-container-block.bigContainer {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.responsive-container-block.Container {
  max-width: 1320px;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.mainImg {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.blueDots {
  position: absolute;
  top: 150px;
  right: 15%;
  z-index: -1;
  left: auto;
  width: 80%;
  height: 500px;
  object-fit: cover;
}

.imgContainer {
  position: relative;
  width: 48%;
}

.responsive-container-block.textSide {
  width: 48%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  z-index: 100;
}

.text-blk.heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.text-blk.subHeading {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.cardImg {
  width: 31px;
  height: 31px;
}

.cardImgContainer {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(229, 229, 229);
  border-right-color: rgb(229, 229, 229);
  border-bottom-color: rgb(229, 229, 229);
  border-left-color: rgb(229, 229, 229);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.text-blk.cardHeading {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.text-blk.cardSubHeading {
  color: rgb(153, 153, 153);
  line-height: 22px;
}

.explore {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(244, 152, 146);
  box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 17px;
  padding-left: 40px;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(244, 182, 176);
}

#ixvck {
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.redDots {
  position: absolute;
  bottom: -350px;
  right: -100px;
  height: 500px;
  width: 400px;
  object-fit: cover;
  top: auto;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    position: relative;
    align-items: flex-start;
    justify-content: center;
  }

  .mainImg {
    bottom: 0px;
  }

  .imgContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: auto;
    width: 60%;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    width: 70%;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }

  .imgContainer {
    position: relative;
    width: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .responsive-container-block.Container {
    flex-direction: row-reverse;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .responsive-container-block.textSide {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .text-blk.subHeading {
    text-align: center;
    font-size: 17px;
    max-width: 520px;
  }

  .text-blk.heading {
    text-align: center;
  }

  .imgContainer {
    opacity: 0.8;
  }

  .imgContainer {
    height: 500px;
  }

  .imgContainer {
    width: 30px;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }

  .responsive-container-block.Container {
    flex-wrap: nowrap;
  }

  .responsive-container-block.textSide {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .imgContainer {
    width: 90%;
  }

  .imgContainer {
    height: 450px;
    margin-top: 5px;
    margin-right: 33.9062px;
    margin-bottom: 0px;
    margin-left: 33.9062px;
  }

  .redDots {
    display: none;
  }

  .explore {
    font-size: 16px;
    line-height: 14px;
  }
}

@media (max-width: 500px) {
  .imgContainer {
    position: static;
    height: 450px;
  }

  .mainImg {
    height: 100%;
  }

  .blueDots {
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: auto;
    right: auto;
  }

  .imgContainer {
    width: 100%;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    overflow-x: visible;
    overflow-y: visible;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding: 0 30px 0 30px;
  }

  .redDots {
    display: none;
  }

  .text-blk.subHeading {
    font-size: 16px;
    line-height: 23px;
  }

  .text-blk.heading {
    font-size: 28px;
    line-height: 28px;
  }

  .responsive-container-block.textSide {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .imgContainer {
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
    position: relative;
  }

  .explore {
    padding-top: 17px;
    padding-right: 0px;
    padding-bottom: 17px;
    padding-left: 0px;
    width: 100%;
  }
}

  #ixvck {
    width: 90%;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 15px;
  }

  .blueDots {
    bottom: 0px;
    width: 100%;
    height: 80%;
    top: 10%;
  }

  .text-blk.cardHeading {
    font-size: 16px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
    line-height: 25px;
  }

  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
/*# sourceMappingURL=style.css.map */